{% extends 'portfolio/base.html' %}
{% load static %}

{% block title_block %}
    android-app
{% endblock %}

{% block body_block %}
<div class="container">
      <h5 class="mark-six new-standtxt"> 
        AN ANDROID APPLICATION.
      </h5>
      <p>
        Programming languages have their own uniqueness in terms of practical
        adaptability towards completing and executing task of varying nature.
        Java programming language is usually a convinient choice for creating 
        android applications. As such, I have developed a simple but
        fully-functional 'Number Guessing Game' as an android application
        written in Java.<br>
        The application translates user-input and gives feedback, stores 
        user-settings, preferences, and tracks user-scores. With the collective 
        technologies of Eclipse and Android Studio, I cross-tested it across 
        multiple-device simulations and also deployed it in my own android device.
        The <i>apk</i> for this application is accessible from this 
        <a href="https://drive.google.com/file/d/1IszaHUnW4vRde1y75JrKYfKwQ1DJFXk9/view?usp=sharing">link.</a> 
        It can be readily installed and run on any 
        available android device.
      </p>
</div>
{% endblock %}