{% extends 'portfolio/base.html' %}
{% load static %}

{% block title_block %}
    Services
{% endblock %}

{% block body_block %}
<div class="first-div">
    <h2 class="display-5 basic-style"><strong>"What I Can Do For You:"
    </strong></h2>
        <ul class="sky t-oblique">
            <li>Data Analysis and Analytics</li>
            <li>Frontend Website Development</li>
            <li>Backend Website Development</li>
            <li>Web Application Development</li>
            <li>Mobile Application Development</li>
            <li>Programming</li>
            <li>Game Development</li>
            <li>Wordpress Configuration & Programming</li>
            <li>Database Security</li>
            <li>Database Management</li>
        </ul>
    <div class="services-div">
        <h6>STATUS:<span class="green-tea"> Available </span>
            <br><span class="dragon-fly"><strong>*******</strong></span><br>
            DELIVERY: Guaranteed
        </h6>
    </div>
</div>
{% endblock %}