{% extends 'portfolio/base.html' %}
{% load static %}

{% block title_block %}
   social-network-app
{% endblock %}

{% block body_block %}
<div class="container">
    <h5 class="mark-seven new-standtxt">
        A SOCIAL NETWORKING WEBSITE.
    </h5>
     <p class="t-oblique">Category: "Full-Stack Website Development."<br>
        Link: <a href="https://linkstreet.great-site.net">Go to Site</a>
      </p>

      <p>
        A worthy social-site usually realies heavily on an appealing interface,
        and responsive behaviour for optimum user-experience. This section 
        introduces one such site which implements collective languages:- HTML, 
        CSS, PHP, JavaScript with JQuery, MySQL, and AJAX, to achieve an optimum 
        user-experience coupled with dynamic behaviour.<br>
        This networking website implements the following features :- User 
        accounts, Profile updates with Photo-upload, Friendships and Followings, 
        Public postings and Private messaging between members. Additionally, 
        Sign-up and Log-in functionalities are enabled.<br>
        This social site has been named <i>'Link Street',</i> and a direct access
        is through this<a href="https://linkstreet.great-site.net/"> link.</a>  
      </p>
      <p class="new-p">
        Point of note: in the event that you are accessing the link to the 
        networking-website through your mobile browser and it displays a 'site
        not secure warning', simply ignore it and proceed. The warning is to do
        with the SSL certificate issued by the hosting company, and has nothing 
        to do with the Link Street networking-app itself.  
      </p>
</div>

{% endblock %}