
    .bdy-color {
        background-color: black;
    }
    .btn {
        margin: 5px 5px 5px 5px;
    }
    .t-indent {
        text-indent: 65px;
    }
    .mark-one {
        color: red;
        font-weight: bold;
    }
    .mark-two {
        color: rgb(53, 2, 2);
        font-weight: bold;
    }
    .mark-three {
        color: navy;
        font-weight: bold;
    }
    .mark-four {
        color: rgb(255, 123, 0);
        font-weight: bold;
    }
    .mark-five {
        color: darkcyan;
        font-weight: bold;
    }
    .about-title, .projects-title, .services-title, .contact-title {
        color: darkcyan;
        text-decoration: underline;
    }
    .my-container {
        float: left; width: 60%;
        height: 610px;
    }
    .img-prog {
        float: right; width: 40%;
        height: 590px;
    }
    .my-card {
        float: left; width: 100%;
    }
    .desc {
        font-style: italic;
        color: darkred;
    }
    .t-font {
        color: rgb(34, 33, 33);
        border-bottom-width: 2px;
    }
    .card-header {
        color: darkCyan;
        font-style: bold;
        text-decoration: underline;
    }
    .first-card {
        color: darkred;
    }
    p {
        color: black;
    }
    .n-font {
        margin-bottom: 2px;
        color: black;
    }
    .new-card {
        background-color: rgb(228, 226, 226);
    }
    .check {
        color: maroon;
    }
    .first-div {
        margin: 2.5px 2.5px 2.5px 2.5px;
    }
    .new-p {
        font-style: italic;
    }
    .new-h, .new-r, .new-g, .new-f, .new-v {
        text-decoration: underline;
    }
    .img-api {
        float: left; width: 50%;
    }
    .img-disc {
        float: right; width: 50%;
    }
    .video {
        float: right;
        width: 50%;
        height: 350px
    }
    .img-game {
        float: left;
        width: 50%;
        height: 350px;
    }