    /*make background black*/
    .bdy-color {
        background-color: black;
    }
    /*make body grey*/
    .bdy-grey {
        background-color: gray;
    }
    .btn {
        margin: 5px 5px 5px 5px;
    }
    .t-indent {
        text-indent: 65px;
    }
    .mark-one {
        color: red;
        font-weight: bold;
    }
    .mark-two {
        color: rgb(53, 2, 2);
        font-weight: bold;
    }
    .mark-three {
        color: navy;
        font-weight: bold;
    }
    .mark-four {
        color: rgb(255, 123, 0);
        font-weight: bold;
    }
    .mark-five {
        color: darkcyan;
        font-weight: bold;
    }
    .mark-six {
        color: rgb(53, 53, 250);
        font-weight: bold;
    }
    .mark-seven {
        color: rgb(62, 1, 88);
        font-weight: bold;
    }
    .mark-eight {
        color: darkgreen;
        font-weight: bold;
    }
    .basic-style {
        color: darkcyan;
        text-decoration: underline;
    }
    .my-container {
        float: left; width: 60%;
        height: 610px;
    }
    .img-prog {
        float: right; width: 40%;
        height: 590px;
    }
    .my-card {
        float: left; width: 100%;
    }
    .desc {
        font-style: italic;
        color: darkred;
    }
    .t-font {
        color: rgb(34, 33, 33);
        border-bottom-width: 2px;
    }
    /*make text dark-red*/
    .first-card {
        color: darkred;
    }
    p {
        color: black;
    }
    .n-font {
        margin-bottom: 2px;
        color: black;
    }
    .new-card {
        background-color: rgb(228, 226, 226);
    }
    /*apply maroon color to text*/
    .check {
        color: maroon;
    }
    /*italicise an text*/
    .new-p {
        font-style: italic;
    }
    /*underline text*/
    .new-standtxt {
        text-decoration: underline;
    }
    .img-api {
        float: left; width: 50%;
    }
    .img-disc {
        float: right; width: 50%;
    }
    .video {
        float: right;
        width: 50%;
        height: 350px
    }
    .img-game {
        float: left;
        width: 50%;
        height: 350px;
    }
    .machine-one {
        float: left;
        width: 50%;
        height: 360px;
    }
    .machine-two {
        float: right;
        width: 50%;
        height: 360px;

    }
    .machine-three {
        text-align: center;
    }
    .contact-div {
        text-align: center;
    }
    .tel-img {
        width: 54px;
        height: 36px;
    }
    .mail-img {
        width: 45px;
        height: 30px;
    }
    .loc-img {
        width: 25px;
        height: 25px;
    }
    .tel-div {
        margin: 5px;
    }
    .mail-div {
        margin: 5px;
    }
    .loc-div {
        margin: 5px;
    }
    .hire-me {
        text-align: center;
    }
    /*apply colors to font*/
    .sky {
        color: navy;
    }
    .dragon-fly {
        color: red;
    }
    .mood-init {
        color: darkolivegreen;
    }
    .green-tea {
        color: rgb(97, 68, 4);
    }
    /*other styles*/
    .services-div {
        background-color: burlywood;
        color: darkslategrey;
        text-align: center;
        font-style: italic;
        padding: 3px;
    }
    .t-underline {
        text-decoration: underline;
    } /*underline text*/
    .t-oblique {
        font-style: oblique;
    } /*make text oblique*/
